body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    flex: 1;
}

.navbar {
    height: 5rem;
    background-color: rgb(235, 229, 229);
}

.fa-compass {
    color: #fe424d;
    font-size: 2rem;
}

.nav-link {
    color: #222222 !important;
}

/* footer */
.i-info-links a {
    text-decoration: none;
    color: #222222;
}

.i-info-links a:hover {
    text-decoration: underline;
}

.i-info {
    text-align: center;
    background-color: rgb(198, 194, 194);
}

i.info-social i {
    font-size: 2rem;
}

/* cards */
.card {
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top {
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body {
    padding: 0 !important;
}

.card-text p {
    font-weight: 400;
}

.links-list {
    text-decoration: none !important;
}

/* hover effects */

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover {
    opacity: 0.2;
    background-color: white;
}

.add-btn {
    background-color: #fe424d !important;
    border: none !important;
}

.edit-btn {
    background-color: #fe424d !important;
    border: none !important;
}

/* map */
#map {
  height: 400px;
  width: auto;
  margin-bottom: 10px;
  border-radius: 15px;
}